*

{margin: 0PX;
padding: 0PX;
border: 0PX;
text-decoration: none;



}
img{
    height: 200px;
    width: 200px;
    
 }
 
 .menu{
     margin: 10px;
 }
 nav{
     display: flex;
 }
 .menu ul{
     display: flex;
     margin-left: 600px;
     margin-top: 80px;
 }
 .menu ul li{
     list-style:none;
     margin-left: 30px;
     font-size: 20px;
     height: 30px;

 
 }
 .images{
    background-image:url(pink.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    width: 1370px ;
    font-size: 30px;
    margin-left: 10px;
    position: relative;
 }


.main{
      font-size: 30px;
      margin-left: 20px;
}



button{
    background-color: rgb(242, 243, 247);
    margin-left: 20px;
    padding: 10px;
}
.container{
    text-align: center;
}
h1{
    color: rgb(9, 15, 13);
    font-size: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-size: cover;
}

.vases {
    background-color: #da8e63;
    
}

.mugs {
    background-color: #e95d2f;
}

.plates {
    background-color: #b52700;
}

.category p {
    margin: 10px;
    font-size: 20px;
    color: black;

}
.hand-premium{
    display: flex;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.hand{
    
    font-weight: 300;
     font-size: 20px;
     margin-left: 60px;
}
.premium{
    font-size: 20px;
     font-weight: 300;
     margin-left: 100px;
    
    
}
.gold-black{
    display: flex;
    margin-top: 80px;
    font-size: 20px;
}
.gold{
    height: 300px;
    width: 200px;
    margin-left: 200px;
    font-size: 20px;
    
}
.pottery{
    
    font-size:30px ;
    margin-left: 80px;
}
.h1{
    font-size: 30px;
    
}
.p{
    font-size: 40px;
}
.orange{
    font-size: 25px;
    float: left;
    
}
.ceramic{
    height: 400px;
    width: 400px;
    margin-left: 800px;
    
    
}
.online{
    font-size: 20px;
    margin-left: 40px;
    text-align: center;
}
.product-container {
    display: flex;
    gap: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 330px;
    height: 300px;
    margin-left: 80px; 
}

.product1 img {
    width: 330px;
    height: 300px;
    margin-left: 70px;
}
.product2 img {
    width: 330px;
    height: 300px;
    margin-left: 70px;
}
.product4 img {
    width: 330px;
    height: 300px;
    margin-left: 80px;
}
.product5 img {
    width: 330px;
    height: 300px;
    margin-left: 70px;
}
.product6 img {
    width: 330px;
    height: 300px;
    margin-left: 100px;
}


.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 160px;
}
.product-container1{
    display: flex;
}

.product-price {
    font-size: 20px;
    padding: 20px;
    margin-left: 160px;
}
.button{
   text-align: center;

   
}
.images2{
    background-image: url(background\ 2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 1340px;
}    
.pom{
    font-size: 20px;
}
.button{
    padding: 5px;
    background-color: #e7e7e7;
}
.container2{
    text-align: center;
    margin-left: 80px;
}

.latest-news-text {
    font-size: 14px;
    color: #d76472;
    margin-top: 10px;
    letter-spacing: 1px;
}

.headline {
    font-size: 24px;
    margin-top: 10px;
}

.headline .ampersand {
    color: #d7648a;
    font-size: 32px;
}

.subscribe {
    margin-top: 20px;
}

.subscribe input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #7a7575;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}

.subscribe button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #e75a5a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe button:hover {
    background-color:blueviolet
}
.container3{
    margin-bottom: 200px;
    padding: 10px;
}

.brand {
    font-family: 'Cursive', sans-serif;
    font-size: 20px;
    margin-left:600px;
    padding: 10px;
}

.creed {
    font-size: 20px;
    margin-left: 300px;
    color: #555;
    padding: 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1{
    font-size: 10px;
}
.details{
    font-size: 10px;
}
.images3{
    background-image: url(images\ \(3\)\ copy.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 1350px;
    font-size: 30px;
}

.container4{
    text-align: center;
}
h1{
    color: rgb(21, 24, 23);
    font-size: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-size: cover;
}

.vases {
    background-color: #da8e63;
    
}

.mugs {
    background-color: #e95d2f;
}

.plates {
    background-color: #b52700;
}

.category p {
    margin: 10px;
    font-size: 20px;
    color: black;
}
.hand-premium{
    display: flex;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.hand{
    
    font-weight: 300;
     font-size: 20px;
     margin-left: 60px;
}
.premium{
    font-size: 20px;
     font-weight: 300;
     margin-left: 100px;
}   
.crew {
    text-align: center;
    padding:  50px;
    
}

.crew-h2 {
    color: #d9534f;
    font-size: 40px;
    text-transform: uppercase;
}

.crew- h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.crew-persons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.member {

    padding: 20px;
    border-radius: 8px;
    
    max-width: 300px;
    text-align: center;
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h4 {
    font-size: 30px;
    margin: 10px ;
}

.member .position {
    color: hwb(0 47% 53%);
    font-style: italic;
    margin-bottom: 15px;
}

.member p {
    font-size: 20px;
    color: #0e020f;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.container5 {
    display: flex;
}
.passion{
    height: 300px;
    width: 300px;
    
}
.text{
    font-size: 20px;
    margin-bottom: 30px;
}
.images4{
    background-image: url(images\ \(2\).jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 1350px;
    font-size: 20px;
    margin-top: 20px;
}
.shopcontainer{
    text-align: center;

}
.modren {
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}
.modren1{
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}
.modren2{
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}
.modren3{
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}
.modren4{
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}
.modren5{
    height: 400px;
    width: 400px;
    margin-bottom :100px;

}
.modren6{
    height: 400px;
    width: 400px;
    margin-bottom :100px;
}